version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=postgres;Username=nhl;Password=nhlpassword"
      AppSettings__ApiKeyValue: "changeme"
    depends_on:
      - db
    ports:
      - "8080:8080"

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: nhl
      POSTGRES_PASSWORD: nhlpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
